/*
CSS Menús, Dic 2020, Miguek Egea
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

h1{text-align: center;

}

.mflotante{
  width: 80%;
    margin: auto;
    
}

.mflotante a{
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    display: block;
    width: 25%;
    float: left;
    padding: 0.5em 0;
    text-align: center;
}

.mflex{
    
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

.mflex a{
    background-color: purple;
    color: white;
    padding: 0.5em 0;
    text-decoration: none;
    /* flex: extender, reducir, tamaño */
    flex: 1  ;
    text-align: center;
    
}

.mgrid{
  display: grid;
    width: 80%;
    margin: auto;
    grid-auto-flow: column;
}

.mgrid a{
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    padding: 0.05em 0;
    text-align: center;
}

/* Media Query para establecer la pantalla web cuendo el tamaño es menor ao igual que 600px*/
@media (max-width: 600px){
    .mflotante a{
        width: 100%;
        text-align: center;
    }
    .mflex{
        flex-direction: column;
    }
    
    .mgrid{
        grid-auto-flow: row;
    }
}
