/*
Hoja de Estilo Plantilla Web HTML5
Diciembre 2020, Miguel Egea
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

header,footer {
    background-color: darkgoldenrod;
    color: white;
    padding: 25px;
    border: 3px dotted black;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

header{
    
}

main{
    display: flex;
    justify-content: space-around;
}

main section{
    background-color: palegoldenrod;
    flex-basis: 25%;
}

nav{
   display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav a{
    width: 20%;
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    padding: 5px;
}

.contenedor{
    display: flex;
}

aside{
    background-color: lightcoral;
    flex: 1 0 50%;
}