/*
Creado por Miguel Alejandro Egea Calle
Lunes 21 de Diciembre de 2020
*/

body{
    background-color: cornflowerblue;
}

header{
    
}

footer{
    text-align: center;
}
img{
    width: 55%;
    height: 250px;
    
}

main{
    height: 1000px;
}