/*
    Creado por: Miguel Alejandro Egea Calle.
    Lunes 11 de Enero de 2021.
*/

body {
  margin: 10px 10%;
  background-color: lightgray;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  font-size: 300%;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  padding: 5px 10px;
  background-color: gray;
  color: white;
  font-size: 200%;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 30px;
}

img {
  float: left;
  margin: 0 10px 10px 0;
}

em {
  color: red;
}
